.wrapper-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-top: 30px;
}

.work-panel,
.relax-panel {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  margin: 0px 20px;

  display: flex;
  flex-direction: column;
  background-color: #fff;

  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 36px;
}

.work-panel {
  color: var(--blue);
}

.relax-panel {
  color: var(--green);
}

.selector-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.work-panel > p {
  background-color: var(--blue);
  color: #fff;
  font-size: 18px;
  padding: 5px 0px;
  text-align: center;
}

.relax-panel > p {
  background-color: var(--green);
  color: #fff;
  font-size: 18px;
  padding: 5px 0px;
  text-align: center;
}

.controls-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.controls-time button {
  width: 40px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s linear;

  cursor: pointer;
}

.work-panel button {
  background-color: #fff;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.work-panel button:hover {
  border: none;
  background-color: var(--blue);
  transform: scale(1.1);
  color: #fff;
}

.relax-panel button {
  background-color: #fff;
  color: var(--green);
  border: 1.5px solid var(--green);
}

.relax-panel button:hover {
  border: none;
  background-color: var(--green);
  transform: scale(1.1);
  color: #fff;
}

.relax-inputs,
.work-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.relax-inputs input,
.work-inputs input {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 36px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.work-inputs input {
  color: var(--blue);
}

.relax-inputs input {
  color: var(--green);
}
